/* 
blue colors-style (from dark to bright):
#072540
#14548C
#2675A6
#50A0BF
#79C7D9
*/

body {
	background: #50A0BF;
	font-family: sans-serif;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center; 
	background: #14548C;
	color: #ffffff;
	margin: 30px 70px;
	padding: 5px 10px;
}

table {
	min-width: 300px;
	background: #ffffff;
}

table.book {
	padding: 15px 10px;
}

th {
	background: #14548C;
	color: #ffffff; 
}

td {
	padding: 2px 7px;
}

.tableButton {
	margin-top: 10px;
}

.pager {
	font-size: 80%;
}

.booklist tr:nth-child(even) {
    background-color: #efefef;
}

a:LINK, a:VISITED {
	color: #14548C;
}

.taskLink {
	background: #ffffff;
	padding: 3px 7px;
}

.error {
	background: #ffffff;
	color: #ff0000;
}

/* jquery widgets */
.ui-widget {
	font-size: 1em;
}